################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CurrencyWebSite/FileContentIndex/50d38f5c-5a63-4b47-af5a-69c6fb8c23f6.vsidx
